<table class="social" width="100%" th:fragment="social">
    <tr>
        <td>

            <!-- column 1 -->
            <table align="left" class="column">
                <tr>
                    <td>
                        <h5 class="">Contact Info:</h5>
                        <p>Website : <a th:with="url=(@{|${website}/#|})" th:href="${url}"><span th:text="${website}"></span></a><br/>
                            Email : <a th:mailto="${mailFrom}"><span th:text="${mailFrom}"></span></a><br/>
                            <span th:if="${phoneNumber!=null && phoneNumber.trim()!= ''}">
                                Phone: <strong th:text="${phoneNumber}"></strong><br/>
                            </span>
                        </p>
                    </td>
                </tr>
            </table><!-- /column 1 -->

            <!-- column 2 -->
            <table align="left" class="column">
                <tr>
                    <td>

                        <h5 class="">Follow the Cytomine project:</h5>
                        <p class="">
                            <a href="https://www.facebook.com/Cytomine" class="soc-btn fb">Facebook</a>
                            <a href="https://twitter.com/cytomine" class="soc-btn tw">Twitter</a>
                            <a href="https://www.linkedin.com/company/cytomine" class="soc-btn ln">LinkedIn</a>
                            <a href="https://www.youtube.com/channel/UCUrNbUEwQkAW32nimsVR69g" class="soc-btn yt">Youtube</a>
                        </p>
                    </td>
                </tr>
            </table><!-- /column 2 -->

            <span class="clear"></span>

        </td>
    </tr>
</table><!-- /social & contact -->
